#calculator{
  width:100px;
  height:150px;
}
button{
  padding: 3px 6px;
  
}
#block{
  height:30px;
  width:100px;
}
#left{
	float: left;
	width: 462px;
	margin-right: 50px;
}
.block{
	    width: 66px;
    /* height: 75px; */
    float: left;
    text-align: center;
}
.center{
	width: 330px;
	height: 90px;
	float: left;
}
.block2{
	width: 66px;
    float: left;
    text-align: center;
	margin: 5px;
}
#money{
	clear:left;
}
#start{
	clear:left;
}
.block button{
	background: white;
}